/* inicio - estilos para mi header*/
header .container-fluid {
  background: linear-gradient(300deg, rgb(133, 208, 244) 0%, rgb(220, 156, 239) 100%);
  padding: 30px;
  font-size: 22px;
}
header .container-fluid .navbar-brand {
  font-size: 40px;
  float: left;
}
header nav li {
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;
  line-height: 80px;
}
header nav li a {
  color: rgb(201, 209, 216);
}

header nav a:hover {
  color: #ffffff !important;
  background: #e4b8f1;
  border-radius: 40px;
}

/* fin - estilos para mi header*/
/* inicio - estilos para mi main*/
main h1 {
  text-align: center;
  margin: 20px;
  font-size: 30px;
}
main h3 {
  margin: 20px;
  font-size: 18px;
}
main .parrafo {
  margin: 30px;
  padding: 30px;
  font-size: 15px;
  left: 30%;
  top: 30%;
  text-align: justify;
}
main .comprar {
  margin: 30px;
  padding: 30px;
  font-size: 15px;
  left: 30%;
  top: 30%;
  text-align: justify;
}
main section {
  margin: 20px;
}
main .carousel-item img {
  position: relative;
  width: 250%;
  height: 910px;
}

/* inicio formato para galeria de inicio*/
.card-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 2Rem;
}

.card:hover {
  transform: scale(1.1);
}

.card {
  background: linear-gradient(300deg, rgb(204, 227, 238) 0%, rgb(241, 211, 237) 100%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 2Rem;
  position: relative;
  margin: 100px;
  text-align: center;
  box-shadow: rgb(102, 188, 214) 0px 5px 15px;
}
.card img {
  width: 70%;
  height: 180px;
  margin: 20 15px;
}
.card a {
  background-color: rgb(173, 127, 237);
  font-size: 18px;
}

/* fin formato para galeria de inicio*/
/* inicio formato para pagina productos*/
.galeria-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 30rem);
  text-align: center;
  gap: 2rem;
  box-shadow: #47def1;
  padding: 20px;
}
.galeria-productos .foto {
  width: 70%;
  height: 70%;
  object-fit: cover;
  text-align: center;
  margin: 50px;
}
.galeria-productos img {
  width: 60%;
  height: 60%;
  object-fit: cover;
  justify-content: center;
}
.galeria-productos .descripcion {
  text-align: center;
  color: rgb(8, 170, 170);
}

/* fin formato para pagina productos*/
/* inicio formato contacto*/
.form-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-content form {
  border: 1px;
  border-radius: 5px;
  padding: 50px;
  width: 300px;
}
.form-content .btn {
  background-color: #e4b8f1;
}

/* FIN formato contacto*/
/* fin - estilos para mi main*/
/* inicio - estilos para mi footer*/
.footer {
  background: linear-gradient(300deg, rgb(91, 190, 236) 0%, rgb(207, 112, 236) 100%);
  padding: 50px 0;
}
.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}
.footer .container .footer-row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}
.footer .container .footer-row .footer-links {
  width: 25%;
  padding: 0 15px;
}
.footer .container .footer-row .footer-links h4 {
  font-size: 25px;
  color: rgba(246, 242, 242, 0.749);
  margin-bottom: 25px;
  font-weight: 500;
  display: inline-block;
}
.footer .container .footer-row .footer-links ul li a {
  font-size: 18px;
  color: rgba(246, 242, 242, 0.749);
  display: block;
  margin-bottom: 30px;
  transition: all 3s ease;
}
.footer .container .footer-row .footer-links ul li a:hover {
  color: #64cddb;
  padding-left: 6px;
}
.footer .container .footer-row .footer-links .redes-sociales a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: #e4b8f1;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}
.footer .container .footer-row .footer-links .redes-sociales a:hover {
  background-color: #64cddb;
}

/* fin - estilos para mi footer*/
/*Inicio Estilos globales*/
* {
  font-family: "Playpen Sans", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*Fin Estilos globales*/
/* media query*/
@media screen and (max-width: 768px) {
  .navbar ul li {
    width: 100%;
  }
  .card img {
    width: 100%;
    height: 100%;
  }
  .card-group {
    display: grid;
    grid-template-columns: none;
  }
  .galeria-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 10rem);
  }
  .galeria-foto {
    width: 70%;
  }
  .comprar {
    font-size: 10px;
  }
  .parrafo {
    font-size: 10px;
  }
  h3 {
    font-size: 12px;
  }
  h1 {
    font-size: 12px;
  }
  .carousel-item img {
    width: 50%;
    height: 50%;
  }
  .card:hover {
    transform: none;
  }
  .footer {
    width: 100%;
    padding: 30px 0;
  }
  .footer-links {
    font-size: 10pxS;
  }
  .footer-links ul li a {
    font-size: 8px;
  }
  .footer-links h4 {
    font-size: 10px;
    text-align: center;
  }
  .redes-sociales a {
    min-height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 8px;
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .galeria-productos {
    display: grid;
    grid-template-columns: none;
    justify-content: center;
  }
  .redes-sociales a {
    min-height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 8px;
    text-align: center;
  }
  form {
    border: 1px;
    border-radius: 5px;
    padding: 40px;
    margin: 40px;
    width: 100%;
  }
  .navbar-brand {
    font-size: 15px;
  }
}

/*# sourceMappingURL=estilos.css.map */
